body {
    background-color: #f8c1b6;
}

.card {
    width: 480px;
    height: 320px;
    margin: 1rem;
}

.card:hover .verso {
    display: block;
}

.card:hover .recto {
    display: none;
}

.recto, .verso {
    color: #e7556b;
    background: #ffeaaf;
    box-shadow: 10px 10px 20px rgb(135, 93, 93);
    font-size: 18px;
    height: 320px;
}

.verso {
    display: none;
}

.initiales {
    color: #b7ab61;
    padding: 30px;
    padding-top: 30px;
    text-align: center;
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.citation, .recto p:last-child {
    padding: 15px 50px 0 50px;
    font-size: 1.15rem;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.recto p:last-child {
    margin-top: -5px;
}

.first {
    display: flex;
}

.image-ju {
    width: 140px;
    clip-path: circle(70px at center);
    height: 140px;
    margin-left: 2rem;
    margin-top: 2rem;
}

.image-ju img {
    width: 140px;
}

.textju {
    flex-grow: 1;
    padding: 2.5rem;
    padding-bottom: 0;
    color: #e7556b;
}

p {
    margin: 0;
}

.second {
    padding-left: 1rem;
    color: #b7ab61;
    padding: 1.8rem;
}

a {
    color: #e7556b
}

.link {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

.link img, .link i {
    width: 25px;
    margin-right: .75rem;
}



@media screen and (max-width:320px) {

    .card {
        width: auto;
        height: auto;
        margin: 1rem;
    }

    .verso, .recto, .card:hover .recto {
        display: block;
    }

    .recto, .verso {
        height: auto;
        margin-top: 2rem;
    }

    .first {
        flex-direction: column;
    }

}